{
  "schemes": [
    "https"
  ],
  "swagger": "2.0",
  "info": {
    "description": "Documentation for the GitVerse public API",
    "title": "GitVerse Public API",
    "contact": {},
    "version": "1.10.0"
  },
  "host": "api.gitverse.ru",
  "basePath": "",
  "paths": {
    "/assignments/{assignment_id}": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Retrieves detailed information about a assignment by its ID, including current status.",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Smartclass"
        ],
        "summary": "Gets the assignment in smartclass",
        "parameters": [
          {
            "type": "string",
            "description": "Unique identifier of the assignment",
            "name": "assignment_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Assignment",
            "schema": {
              "$ref": "#/definitions/response.Assignment"
            }
          },
          "400": {
            "description": "Bad Request – Invalid deployment ID or malformed request"
          },
          "403": {
            "description": "Forbidden – Insufficient permissions"
          },
          "404": {
            "description": "Assignment not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/orgs/{org}/actions/runners": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Retrieves a list of self-hosted runners configured for the specified organization. Supports pagination. Only users with read access to the organization can view the runners.",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Runners"
        ],
        "summary": "Returns a list of self-hosted runners for an organization",
        "parameters": [
          {
            "type": "string",
            "description": "The organization name",
            "name": "org",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "default": 1,
            "description": "Page number (starting from 1)",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 30,
            "description": "Number of results per page (maximum 50)",
            "name": "per_page",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of organization runners successfully retrieved",
            "schema": {
              "$ref": "#/definitions/response.ActionRunners"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Organization not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/orgs/{org}/actions/runners/registration-token": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Generates a temporary token that can be used to register a new self-hosted runner for the organization. Only users with admin privileges to the organization can create a token.",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Runners"
        ],
        "summary": "Creates a registration token for an organization runner",
        "parameters": [
          {
            "type": "string",
            "description": "The organization name",
            "name": "org",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Registration token successfully created",
            "schema": {
              "$ref": "#/definitions/response.RegistrationToken"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Organization not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/orgs/{org}/actions/runners/{runner_id}": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Retrieves detailed information about a self-hosted runner configured for the organization by its ID. Only users with read access to the organization can view runner details.",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Runners"
        ],
        "summary": "Gets a specific self-hosted runner for an organization",
        "parameters": [
          {
            "type": "string",
            "description": "The organization name",
            "name": "org",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "description": "Unique identifier of the runner",
            "name": "runner_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Runner details successfully retrieved",
            "schema": {
              "$ref": "#/definitions/response.ActionRunner"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Organization or runner not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Removes a self-hosted runner from the organization by its ID. The runner will no longer be available for job assignments. Only users with admin privileges to the organization can delete a runner.",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Runners"
        ],
        "summary": "Deletes a specific self-hosted runner from the organization",
        "parameters": [
          {
            "type": "string",
            "description": "The organization name",
            "name": "org",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "description": "Unique identifier of the runner",
            "name": "runner_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Organization or runner not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/orgs/{org}/actions/secrets": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Gets a list of organization secrets",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Organization"
        ],
        "summary": "Gets a list of organization secrets",
        "parameters": [
          {
            "type": "string",
            "description": "Organization name",
            "name": "org",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "default": "30",
            "description": "Secrets per page",
            "name": "per_page",
            "in": "query"
          },
          {
            "type": "string",
            "default": "1",
            "description": "Page number",
            "name": "page",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/response.SecretList"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/orgs/{org}/actions/secrets/{secretname}": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Gets the metadata of a secret (without value) in an organization",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Organization"
        ],
        "summary": "Gets the metadata of a secret (without value) in an organization",
        "parameters": [
          {
            "type": "string",
            "description": "Organization name",
            "name": "org",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Secret name",
            "name": "secretname",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/response.Secret"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Creates or updates a secret in the organization",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Organization"
        ],
        "summary": "Creates or updates a secret in the organization",
        "parameters": [
          {
            "type": "string",
            "description": "Organization name",
            "name": "org",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Secret name",
            "name": "secretname",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Secret value",
            "name": "value",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/response.Secret"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Removes a secret from an organization",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Organization"
        ],
        "summary": "Removes a secret from an organization",
        "parameters": [
          {
            "type": "string",
            "description": "Organization name",
            "name": "org",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Secret name",
            "name": "secretname",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/orgs/{org}/actions/variables": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Lists all organization variables.",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Actions",
          "Organization"
        ],
        "summary": "List organization variables",
        "parameters": [
          {
            "type": "string",
            "description": "The organization name",
            "name": "org",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "description": "The number of results per page",
            "name": "per_page",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "The page number of the results to fetch",
            "name": "page",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/response.VariableList"
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Creates a variable in an organization.",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Actions",
          "Organization"
        ],
        "summary": "Create an organization variable",
        "parameters": [
          {
            "type": "string",
            "description": "The organization name",
            "name": "org",
            "in": "path",
            "required": true
          },
          {
            "description": "The request body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/request.CreateVariable"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/orgs/{org}/actions/variables/{name}": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Gets a specific variable in an organization.",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Actions",
          "Organization"
        ],
        "summary": "Get an organization variable",
        "parameters": [
          {
            "type": "string",
            "description": "The organization name",
            "name": "org",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the variable",
            "name": "name",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/response.Variable"
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "delete": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Deletes an organization variable using the variable name.",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Actions",
          "Organization"
        ],
        "summary": "Delete an organization variable",
        "parameters": [
          {
            "type": "string",
            "description": "The organization name",
            "name": "org",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the variable",
            "name": "name",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "patch": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Updates an organization variable",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Actions",
          "Organization"
        ],
        "summary": "Update an organization variable",
        "parameters": [
          {
            "type": "string",
            "description": "The organization name",
            "name": "org",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the variable",
            "name": "name",
            "in": "path",
            "required": true
          },
          {
            "description": "The request body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/request.CreateVariable"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "description": "Bad request"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/orgs/{org}/issue-types": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Retrieve issue types available for the specified organization",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Organizations"
        ],
        "summary": "List organization issue types",
        "parameters": [
          {
            "type": "string",
            "description": "Organization name",
            "name": "org",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "List of organization issue types",
            "schema": {
              "$ref": "#/definitions/response.IssueTypeList"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/orgs/{org}/members/{username}": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Check if a user is, publicly or privately, a member of the organization.",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Organization"
        ],
        "summary": "Check organization membership for a user",
        "parameters": [
          {
            "type": "string",
            "description": "The organization name.",
            "name": "org",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Username of the member to check.",
            "name": "username",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "User is an organization member"
          },
          "302": {
            "description": "User is not an organization member"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/orgs/{org}/packages/{package_type}/{package_name}": {
      "delete": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Delete a package for a specific organization.",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Packages"
        ],
        "summary": "Delete package for organization",
        "parameters": [
          {
            "type": "string",
            "description": "Name of the organization",
            "name": "org",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Type of the package",
            "name": "package_type",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Name of the package",
            "name": "package_name",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/orgs/{org}/packages/{package_type}/{package_name}/versions": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Retrieves a list of package versions for a specific organization and package.",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Packages"
        ],
        "summary": "Get package versions for organization",
        "parameters": [
          {
            "type": "string",
            "description": "Name of the organization",
            "name": "org",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Type of the package",
            "name": "package_type",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Name of the package",
            "name": "package_name",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "description": "Page number",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Page size",
            "name": "per_page",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of package versions",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/response.PackageVersion"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/orgs/{org}/packages/{package_type}/{package_name}/versions/{package_version_id}": {
      "delete": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Delete a specific package version for an organization.",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Packages"
        ],
        "summary": "Delete package version for organization",
        "parameters": [
          {
            "type": "string",
            "description": "Name of the organization",
            "name": "org",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Type of the package",
            "name": "package_type",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Name of the package",
            "name": "package_name",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Version of the package ID",
            "name": "package_version_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/orgs/{org}/repos": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "List repositories for the specified organization.\ntype=member означает: репозитории организации, доступные члену (включая владельцев).",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Organization"
        ],
        "summary": "List organization repositories",
        "parameters": [
          {
            "type": "string",
            "description": "The organization name.",
            "name": "org",
            "in": "path",
            "required": true
          },
          {
            "enum": [
              "all",
              "public",
              "private",
              "forks",
              "sources",
              "member"
            ],
            "type": "string",
            "description": "Filter by repository type",
            "name": "type",
            "in": "query"
          },
          {
            "enum": [
              "created",
              "updated",
              "pushed",
              "full_name"
            ],
            "type": "string",
            "description": "Sort by",
            "name": "sort",
            "in": "query"
          },
          {
            "enum": [
              "asc",
              "desc"
            ],
            "type": "string",
            "description": "Sort direction",
            "name": "direction",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "The page number of the results to fetch",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "The number of results per page",
            "name": "per_page",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of organization repositories",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/response.Repository"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Create organization repository",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Organization"
        ],
        "summary": "Create organization repository",
        "parameters": [
          {
            "type": "string",
            "description": "The organization name.",
            "name": "org",
            "in": "path",
            "required": true
          },
          {
            "description": "Parameters for creating repository",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/request.CreateOrgRepoOption"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/response.Repository"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/orgs/{org}/teams": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Lists all teams in an organization that are visible to the authenticated user.",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Teams"
        ],
        "summary": "Lists teams",
        "parameters": [
          {
            "type": "string",
            "description": "The organization name.",
            "name": "org",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "description": "The page number of the results to fetch.",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "The number of results per page.",
            "name": "per_page",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/response.Team"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Creates a new team in the organization\nTo create a team, the authenticated user must be an organization owner",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Teams"
        ],
        "summary": "Create a team",
        "parameters": [
          {
            "type": "string",
            "description": "The organization name",
            "name": "org",
            "in": "path",
            "required": true
          },
          {
            "description": "Parameters  for creating a team",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/request.CreateTeamOption"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/response.Team"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/orgs/{org}/teams/{team}/members": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Team members will include the members of child teams.\nTo list members in a team, the team must be visible to the authenticated user.",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Teams"
        ],
        "summary": "Lists team members",
        "parameters": [
          {
            "type": "string",
            "description": "The organization name.",
            "name": "org",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The slug of the team name.",
            "name": "team",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "description": "The page number of the results to fetch.",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "The number of results per page.",
            "name": "per_page",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by role. Options: maintainer, member. Default: all.",
            "name": "role",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/response.User"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/orgs/{org}/teams/{team}/repos": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Lists a team's repositories visible to the authenticated user.\nВ permissions отдаются права команды на репозиторий, а не права текущего пользователя.",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Teams"
        ],
        "summary": "List team repositories",
        "parameters": [
          {
            "type": "string",
            "description": "The organization name.",
            "name": "org",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The slug of the team name.",
            "name": "team",
            "in": "path",
            "required": true
          },
          {
            "enum": [
              "created",
              "updated",
              "pushed",
              "full_name"
            ],
            "type": "string",
            "description": "Sort by",
            "name": "sort",
            "in": "query"
          },
          {
            "enum": [
              "asc",
              "desc"
            ],
            "type": "string",
            "description": "Sort direction",
            "name": "direction",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "The page number of the results to fetch.",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "The number of results per page.",
            "name": "per_page",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/response.Repository"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/orgs/{org}/teams/{team}/repos/{owner}/{repo}": {
      "put": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Add or update team repository permissions.",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Teams"
        ],
        "summary": "Add or update team repository permissions",
        "parameters": [
          {
            "type": "string",
            "description": "The organization name.",
            "name": "org",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The slug of the team name.",
            "name": "team",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Repository owner",
            "name": "owner",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Repository name",
            "name": "repo",
            "in": "path",
            "required": true
          },
          {
            "description": "New repository permissions",
            "name": "permission",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/request.TeamRepoPermissions"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/repos/migrate": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Create a repository migration task and return its initial status",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Repositories"
        ],
        "summary": "Migrate remote repository",
        "parameters": [
          {
            "description": "Repository migration options",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/request.MigrateRepo"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Repository migration accepted",
            "schema": {
              "$ref": "#/definitions/response.RepositoryMigration"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "409": {
            "description": "Conflict"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/repos/{owner}/{repo}": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Get repository details via Public API.",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Repositories"
        ],
        "summary": "Get repository details",
        "parameters": [
          {
            "type": "string",
            "description": "Repository owner",
            "name": "owner",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Repository name",
            "name": "repo",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Repository details",
            "schema": {
              "$ref": "#/definitions/response.Repository"
            }
          },
          "301": {
            "description": "Repository was renamed, repeat the request to the returned URL",
            "schema": {
              "$ref": "#/definitions/response.RepoMovedResponse"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "URL of the renamed repository"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        }
      },
      "delete": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Delete repository via Public API.",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Repositories"
        ],
        "summary": "Delete repository",
        "parameters": [
          {
            "type": "string",
            "description": "Repository owner",
            "name": "owner",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Repository name",
            "name": "repo",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Repository deleted successfully"
          },
          "307": {
            "description": "Repository was renamed, repeat the request to the returned URL",
            "schema": {
              "$ref": "#/definitions/response.RepoMovedResponse"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "URL of the renamed repository"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Request error"
          }
        }
      },
      "patch": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Update repository settings via Public API.",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Repositories"
        ],
        "summary": "Update repository",
        "parameters": [
          {
            "type": "string",
            "description": "Repository owner",
            "name": "owner",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Repository name",
            "name": "repo",
            "in": "path",
            "required": true
          },
          {
            "description": "New repository settings",
            "name": "updateDTO",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/request.RepositoryUpdateDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Repository details",
            "schema": {
              "$ref": "#/definitions/response.Repository"
            }
          },
          "307": {
            "description": "URL of the renamed repository",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        }
      }
    },
    "/repos/{owner}/{repo}/actions/artifacts": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Returns a list of artifacts (e.g. build outputs, packages, or deployment files) for the specified repository. Supports pagination. Only users with read access to the repository can view the artifacts.",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Artifacts"
        ],
        "summary": "Returns a list of artifacts in the repository",
        "parameters": [
          {
            "type": "string",
            "description": "Owner of the repository (owner or organization name)",
            "name": "owner",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Name of the repository without the .git extension",
            "name": "repo",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "default": 1,
            "description": "Page number (starting from 1)",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Number of results per page (maximum 50)",
            "name": "per_page",
            "in": "query"
          },
          {
            "type": "string",
            "description": "The name field of an artifact. When specified, only artifacts with this name will be returned.",
            "name": "name",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of artifacts successfully retrieved",
            "schema": {
              "$ref": "#/definitions/response.ActionArtifactList"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/repos/{owner}/{repo}/actions/artifacts/{artifact_id}": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Retrieves detailed information about a specific artifact by its ID. Only users with read access to the repository can view the artifact.",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Artifacts"
        ],
        "summary": "Returns a specific artifact from the repository",
        "parameters": [
          {
            "type": "string",
            "description": "Owner of the repository (owner or organization name)",
            "name": "owner",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Name of the repository without the .git extension",
            "name": "repo",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Identifier of the artifact",
            "name": "artifact_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Artifact successfully retrieved",
            "schema": {
              "$ref": "#/definitions/response.ActionArtifact"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Deletes an artifact by its ID. Only users with write access to the repository can delete artifacts.",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Artifacts"
        ],
        "summary": "Deletes a specific artifact",
        "parameters": [
          {
            "type": "string",
            "description": "Owner of the repository (owner or organization name)",
            "name": "owner",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Name of the repository without the .git extension",
            "name": "repo",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Identifier of the artifact",
            "name": "artifact_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/repos/{owner}/{repo}/actions/artifacts/{artifact_id}/zip": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Redirects to a pre-signed URL where the artifact (as a ZIP archive) can be downloaded. Only users with read access to the repository can download artifacts.",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Artifacts"
        ],
        "summary": "Downloads a specific artifact as a ZIP archive",
        "parameters": [
          {
            "type": "string",
            "description": "Owner of the repository (owner or organization name)",
            "name": "owner",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Name of the repository without the .git extension",
            "name": "repo",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Identifier of the artifact",
            "name": "artifact_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "302": {
            "description": "HTML body with link to download URL (for GET)",
            "schema": {
              "type": "string"
            },
            "headers": {
              "Content-Type": {
                "type": "string",
                "description": "text/html; charset=utf-8"
              },
              "Location": {
                "type": "string",
                "description": "Pre-signed URL to download the ZIP archive"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Artifact or repository not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/repos/{owner}/{repo}/actions/artifacts/{artifact_id}/zip/raw": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Returns the artifact as a ZIP archive in the response body. This endpoint serves the raw binary content and can be used for direct downloads. Only users with read access to the repository can download the artifact.",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Artifacts"
        ],
        "summary": "Downloads the artifact ZIP archive directly",
        "parameters": [
          {
            "type": "string",
            "description": "Owner of the repository (owner or organization name)",
            "name": "owner",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Name of the repository without the .git extension",
            "name": "repo",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Identifier of the artifact",
            "name": "artifact_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "ZIP archive of the artifact",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Artifact or repository not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/repos/{owner}/{repo}/actions/jobs/{job_id}": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Gets a specific workflow run job by ID.",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Actions",
          "Repositories"
        ],
        "summary": "Get a workflow run job",
        "parameters": [
          {
            "type": "string",
            "description": "The account owner of the repository",
            "name": "owner",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the repository",
            "name": "repo",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "int64",
            "description": "The ID of the workflow run job",
            "name": "job_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/response.ActionRunJob"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/repos/{owner}/{repo}/actions/jobs/{job_id}/logs": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Get the logs for a specific workflow run job by ID.",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Actions",
          "Repositories"
        ],
        "summary": "Get workflow run job logs",
        "parameters": [
          {
            "type": "string",
            "description": "The account owner of the repository",
            "name": "owner",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the repository",
            "name": "repo",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "int64",
            "description": "The ID of the workflow run job",
            "name": "job_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Ok"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/repos/{owner}/{repo}/actions/links": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Attaches a custom external link (e.g., build dashboard, deployment URL, logs) to a specific workflow run. The link is displayed in the GitVerse Actions UI for better traceability. Only users with write access to the repository can create a link.",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Actions"
        ],
        "summary": "Adds a link to an action run",
        "parameters": [
          {
            "type": "string",
            "description": "Owner of the repository (username or organization name)",
            "name": "owner",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Name of the repository without the .git extension",
            "name": "repo",
            "in": "path",
            "required": true
          },
          {
            "description": "Link details: url, name, description, and optional metadata",
            "name": "input",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/request.CreateActionLinkOption"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Link successfully created and attached to the action run",
            "schema": {
              "$ref": "#/definitions/response.ActionLink"
            }
          },
          "400": {
            "description": "Bad Request – Invalid input or malformed payload"
          },
          "403": {
            "description": "Forbidden – Insufficient permissions"
          },
          "404": {
            "description": "Repository not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/repos/{owner}/{repo}/actions/runners": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Retrieves a list of self-hosted runners configured for the specified repository. Supports pagination. Only users with read access to the repository can view the runners.",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Runners"
        ],
        "summary": "Returns a list of runners for the repository",
        "parameters": [
          {
            "type": "string",
            "description": "Owner of the repository (owner or organization name)",
            "name": "owner",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Name of the repository without the .git extension",
            "name": "repo",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "default": 1,
            "description": "Page number (starting from 1)",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 30,
            "description": "Number of results per page (maximum 50)",
            "name": "per_page",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of runners successfully retrieved",
            "schema": {
              "$ref": "#/definitions/response.ActionRunners"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Repository not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/repos/{owner}/{repo}/actions/runners/registration-token": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Generates a temporary token that can be used to register a new self-hosted runner for the repository. Only users with admin privileges to the repository can create a token.",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Runners"
        ],
        "summary": "Creates a registration token for a repository runner",
        "parameters": [
          {
            "type": "string",
            "description": "Owner of the repository (owner or organization name)",
            "name": "owner",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Name of the repository without the .git extension",
            "name": "repo",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Registration token successfully created",
            "schema": {
              "$ref": "#/definitions/response.RegistrationToken"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Repository not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/repos/{owner}/{repo}/actions/runners/{runner_id}": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Retrieves detailed information about a self-hosted runner configured for the repository by its ID. Only users with read access to the repository can view runner details.",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Runners"
        ],
        "summary": "Gets a specific runner for a repository",
        "parameters": [
          {
            "type": "string",
            "description": "Owner of the repository (owner or organization name)",
            "name": "owner",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Name of the repository without the .git extension",
            "name": "repo",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "description": "Unique identifier of the runner",
            "name": "runner_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Runner details successfully retrieved",
            "schema": {
              "$ref": "#/definitions/response.ActionRunner"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Runner not found or repository access denied"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Removes a self-hosted runner from the repository by its ID. The runner will no longer be available for job assignments. Only users with admin privileges to the repository can delete a runner.",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Runners"
        ],
        "summary": "Deletes a specific self-hosted runner from the repository",
        "parameters": [
          {
            "type": "string",
            "description": "Owner of the repository (owner or organization name)",
            "name": "owner",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Name of the repository without the .git extension",
            "name": "repo",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "description": "Unique identifier of the runner",
            "name": "runner_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Runner not found or repository access denied"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/repos/{owner}/{repo}/actions/runs": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Lists all workflow runs.",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Actions",
          "Repositories"
        ],
        "summary": "List workflow runs",
        "parameters": [
          {
            "type": "string",
            "description": "The account owner of the repository",
            "name": "owner",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the repository",
            "name": "repo",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the actor",
            "name": "actor",
            "in": "query"
          },
          {
            "type": "string",
            "description": "The name of the branch",
            "name": "branch",
            "in": "query"
          },
          {
            "type": "string",
            "description": "The event that triggered the workflow",
            "name": "event",
            "in": "query"
          },
          {
            "type": "string",
            "description": "The status of the workflow run",
            "name": "status",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "The number of results per page",
            "name": "per_page",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "The page number of the results to fetch",
            "name": "page",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/response.RunsResponse"
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/repos/{owner}/{repo}/actions/runs/index/{run_index}": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Gets a specific workflow run by index.",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Actions",
          "Repositories"
        ],
        "summary": "Get a workflow run by index",
        "parameters": [
          {
            "type": "string",
            "description": "The account owner of the repository",
            "name": "owner",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the repository",
            "name": "repo",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "int64",
            "description": "The index of the workflow run",
            "name": "run_index",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/response.ActionRun"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/repos/{owner}/{repo}/actions/runs/index/{run_index}/jobs": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Lists all workflow run jobs for a specific run by index.",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Actions",
          "Repositories"
        ],
        "summary": "List workflow run jobs by index",
        "parameters": [
          {
            "type": "string",
            "description": "The account owner of the repository",
            "name": "owner",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the repository",
            "name": "repo",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "int64",
            "description": "The index of the workflow run",
            "name": "run_index",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "description": "The number of results per page",
            "name": "per_page",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "The page number of the results to fetch",
            "name": "page",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/response.JobsResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/repos/{owner}/{repo}/actions/runs/{run_id}": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Gets a specific workflow run by ID.",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Actions",
          "Repositories"
        ],
        "summary": "Get a workflow run",
        "parameters": [
          {
            "type": "string",
            "description": "The account owner of the repository",
            "name": "owner",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the repository",
            "name": "repo",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "int64",
            "description": "The ID of the workflow run",
            "name": "run_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/response.ActionRun"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/repos/{owner}/{repo}/actions/runs/{run_id}/jobs": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Lists all workflow run jobs for a specific run.",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Actions",
          "Repositories"
        ],
        "summary": "List workflow run jobs",
        "parameters": [
          {
            "type": "string",
            "description": "The account owner of the repository",
            "name": "owner",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the repository",
            "name": "repo",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "int64",
            "description": "The ID of the workflow run",
            "name": "run_id",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "description": "The number of results per page",
            "name": "per_page",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "The page number of the results to fetch",
            "name": "page",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/response.JobsResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/repos/{owner}/{repo}/actions/secrets": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Gets a list of repository secrets",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Repositories"
        ],
        "summary": "Gets a list of repository secrets",
        "parameters": [
          {
            "type": "string",
            "description": "Owner name",
            "name": "owner",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Repository name",
            "name": "repo",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "default": "30",
            "description": "Secrets per page",
            "name": "per_page",
            "in": "query"
          },
          {
            "type": "string",
            "default": "1",
            "description": "Page number",
            "name": "page",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/response.SecretList"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/repos/{owner}/{repo}/actions/secrets/{secretname}": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Gets secrets metadata (without values) in repositories.",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Repositories"
        ],
        "summary": "Gets secrets metadata (without values) in repositories.",
        "parameters": [
          {
            "type": "string",
            "description": "Owner name",
            "name": "owner",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Repository name",
            "name": "repo",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Secret name",
            "name": "secretname",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/response.Secret"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Creates or updates a secret in the repository",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Repositories"
        ],
        "summary": "Creates or updates a secret in the repository",
        "parameters": [
          {
            "type": "string",
            "description": "Owner name",
            "name": "owner",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Repository name",
            "name": "repo",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Secret name",
            "name": "secretname",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Secret value",
            "name": "value",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/response.Secret"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Removes a secret from the repository",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Repositories"
        ],
        "summary": "Removes a secret from the repository",
        "parameters": [
          {
            "type": "string",
            "description": "Owner name",
            "name": "owner",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Repository name",
            "name": "repo",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Secret name",
            "name": "secretname",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/repos/{owner}/{repo}/actions/variables": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Lists all repository variables.",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Actions",
          "Repositories"
        ],
        "summary": "List repository variables",
        "parameters": [
          {
            "type": "string",
            "description": "The account owner of the repository",
            "name": "owner",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the repository",
            "name": "repo",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "description": "The number of results per page",
            "name": "per_page",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "The page number of the results to fetch",
            "name": "page",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/response.VariableList"
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Creates a repository variable",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Actions",
          "Repositories"
        ],
        "summary": "Create a repository variable",
        "parameters": [
          {
            "type": "string",
            "description": "The account owner of the repository",
            "name": "owner",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the repository",
            "name": "repo",
            "in": "path",
            "required": true
          },
          {
            "description": "The request body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/request.CreateVariable"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/repos/{owner}/{repo}/actions/variables/{name}": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Gets a specific variable in a repository.",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Actions",
          "Repositories"
        ],
        "summary": "Get a repository variable",
        "parameters": [
          {
            "type": "string",
            "description": "The account owner of the repository",
            "name": "owner",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the repository",
            "name": "repo",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the variable",
            "name": "name",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/response.Variable"
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "delete": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Deletes a repository variable using the variable name.",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Actions",
          "Repositories"
        ],
        "summary": "Delete a repository variable",
        "parameters": [
          {
            "type": "string",
            "description": "The account owner of the repository",
            "name": "owner",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the repository",
            "name": "repo",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the variable",
            "name": "name",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "patch": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Updates a repository variable",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Actions",
          "Repositories"
        ],
        "summary": "Update a repository variable",
        "parameters": [
          {
            "type": "string",
            "description": "The account owner of the repository",
            "name": "owner",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the repository",
            "name": "repo",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the variable",
            "name": "name",
            "in": "path",
            "required": true
          },
          {
            "description": "The request body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/request.CreateVariable"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "description": "Bad request"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/repos/{owner}/{repo}/actions/workflows": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Lists all workflows for a repository.",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Actions",
          "Repositories"
        ],
        "summary": "List workflows for a repository",
        "parameters": [
          {
            "type": "string",
            "description": "The account owner of the repository",
            "name": "owner",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the repository",
            "name": "repo",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "description": "The page number of the results to fetch",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "The number of results per page",
            "name": "per_page",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/response.WorkflowsResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/repos/{owner}/{repo}/actions/workflows/{workflow}": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Gets a specific workflow by ID.",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Actions",
          "Repositories"
        ],
        "summary": "Get a workflow",
        "parameters": [
          {
            "type": "string",
            "description": "The account owner of the repository",
            "name": "owner",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the repository",
            "name": "repo",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Workflow ID (filename)",
            "name": "workflow",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/response.WorkflowItem"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/repos/{owner}/{repo}/actions/workflows/{workflow}/dispatches": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Returns the list of input parameters required to trigger workflow_dispatch for the specified workflow",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Actions",
          "Repositories"
        ],
        "summary": "Get workflow_dispatch parameters",
        "parameters": [
          {
            "type": "string",
            "description": "Repository owner owner",
            "name": "owner",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Repository name",
            "name": "repo",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Workflow name filter",
            "name": "workflow",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Branch name",
            "name": "branch",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Tag name",
            "name": "tag",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/response.WorkflowDispatchInputList"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Triggers a workflow via workflow_dispatch event with specified parameters",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Actions",
          "Repositories"
        ],
        "summary": "Trigger workflow_dispatch",
        "parameters": [
          {
            "type": "string",
            "description": "Repository owner owner",
            "name": "owner",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Repository name",
            "name": "repo",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Workflow filename",
            "name": "workflow",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Branch name",
            "name": "branch",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Tag name",
            "name": "tag",
            "in": "query"
          },
          {
            "description": "Output parameters for workflow dispatch. Key - input parameter name, Value - input parameter value",
            "name": "inputs",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1.workflowDispatchInputs"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "406": {
            "description": "Not acceptable"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/repos/{owner}/{repo}/actions/workflows/{workflow}/runs": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Lists all runs for a specific workflow.",
        "produces": [
          "application/vnd.gitverse.object+json;version=latest"
        ],
        "tags": [
          "Actions",
          "Repositories"
        ],
        "summary": "List runs for a workflow",
        "parameters": [
          {
            "type": "string",
            "description": "The account owner of the repository",
[...]
